
<ion-footer>
  <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
    <style>
      .gold {
        fill: gold;
        font-family: Arial, sans-serif;
        font-size: 15px;
        font-weight: bold;
      }
      .icon {
        fill: #333;
      }
      .icon-text {
        fill: white;
        font-family: Arial, sans-serif;
        font-size: 20px;
        text-anchor: middle;
      }
    </style>
    <text x="20" y="70" class="gold">Buddy</text>
    <g transform="translate(20, 120)">
    </g>
  </svg>
</ion-footer>